html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    max-width: 1200px;
}

.about {
    border: 2px solid #dcdcdc;
    border-radius: 10px;
    padding: 15px;
    line-height: 1.2;
    width: 27%;
    margin: 0px 5px 0px 88px;
}

.signup-form {
    margin: 0 10px;
}

.form-item {
    margin-bottom: 15px;
}

h1 {
    text-align: center;
}

section {
    display: flex;
    margin: 80px 101px;
    justify-content: flex-start;
}

.error-dot {
    color: red;
    display: none;
}

#other {
    display: none;
    margin: 5px 0 20px;
}

input {
    width: 100%;
}

input,
select {
    margin-top: 5px;
}
